[submodule "Sheff/vendor/spdlog"]
	path = Sheff/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sheff/vendor/GLFW"]
	path = Sheff/vendor/GLFW
	url = https://github.com/max-deutsch/glfw
